Graphics/Battlers/*
Graphics/Battlers_resized/*
Graphics/CustomBattlers/*
Graphics/Battlers/*
Graphics/Pokemon/FusionIcons/*
Data/SPRITE_CREDS
Data/VERSION
 
Data/encounters_randomized.dat
PBS/trainertypesmodded.txt
Data/debuglog.txt
Data/encounters_randomized.dat
